<?xml version="1.0"?>
<ruleset name="PSR12-webmaster">
    <description>Yandex xml library coding standard.</description>
    <file>src</file>
    <file>tests</file>

    <arg name="colors" />
    <arg name="no-cache" />

    <rule ref="PSR12">
        <exclude name="Generic.Files.LineLength"/>
    </rule>
    <config name="installed_paths" value="vendor/phpcompatibility/php-compatibility" />
    <config name="testVersion" value="7.4-"/>
    <rule ref="PHPCompatibility"/>

</ruleset>
